<connectionStrings>
  <add name="eToolsDB"
       connectionString="Data Source=.; Initial Catalog=eTools;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection"
       connectionString=".; Initial Catalog=eTools;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
</connectionStrings>